
<%- include('../includes/head.ejs') %>
<body class="animsition">
   

    <!-- Title page -->
   

    <h1>HEllo i'm here</h1>
    <!-- Content page -->
    


    <!-- Map -->
    

   

    <!-- Back to top -->
   
    </div>

</body>
